<select class="ms-2 form-select" aria-label="Default select example" value>
	<option value="-1">Select position</option>
    @foreach (var type in Enum.GetValues(typeof(Models.EmployeeType))) {
		<option value="as"></option>
	}
</select>